<div class="session-log-container">
  <h3>Session Log</h3>
  <ul>
    <li>
      <span class="session-type">Pomodoro</span>
      <span class="session-duration">25:00</span>
      <span class="session-date">2025-10-05</span>
    </li>
    <li>
      <span class="session-type">Short Break</span>
      <span class="session-duration">05:00</span>
      <span class="session-date">2025-10-05</span>
    </li>
    <li>
      <span class="session-type">Pomodoro</span>
      <span class="session-duration">25:00</span>
      <span class="session-date">2025-10-05</span>
    </li>
  </ul>
</div>